/**************************************
***** BUTTONS
***************************************/

.btn {
	border: none;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid transparent;

	&:focus {
		outline: none;
	}

	&--submit {
		height: 2rem;
		width: 2rem;
	}

	&--log-out {
		@include flexCenter;
		transform: rotate(90deg);
	}

	&--mobile_menu {
		display: none;

		@include media(47.62em) {
			display: block;
		}
	}

	&--play {
		margin: 0 0.2rem;
	}

	&--song_play,
	&--add,
	&--remove {
		border: 1px solid transparent;
		border-radius: 50%;
		height: 3.5rem;
		width: 3.5rem;
		@include flexCenter;
		transition: all 0.2s ease-in-out;

		&:hover {
			border: 1px solid $text-gray-light;
		}
	}

	&--add,
	&--remove {
		border: 2px solid transparent;
		height: 5rem;
		width: 5rem;
		transform: translateY(6px);

		&:hover {
			border: 2px solid $text-gray-light;
		}
	}

	&--album_play {
		border: 2px solid transparent;
		border-radius: 50%;
		padding: 0.4rem;
		height: 6rem;
		width: 6rem;
		@include flexCenter;
		transition: all 0.2s 0.2s ease-in-out;
		backface-visibility: hidden;
		transition: all 0.2s ease-in-out;

		&:hover {
			border: 2px solid $text-gray-light;
		}
	}
}
