/**************************************
***** Colors
***************************************/

$color-white: #ffffff;
$color-black: #101515;
$color-gray: #222b31;
$color-gray-light: #f9f9f9;
$color-gray-light-transparent: #f9f9f99a;
$color-gray-light-transparent-2: rgba(53, 53, 53, 0.61);
$color-gra-light-dark: #575e63;
$color-red: #fc4d55;
$color-red-dark: #dc3023;
$color-red-dark-2: #cf3a24;
$color-red-dark-3: #ac3e49;

$text-gray: #d3d5d6;
$text-gray-light: #dfdfdf;
$text-gray-dark: #4d4d4d;

$bg-dark-gray: #101515;
$bg-gray-light: #151c20;
$bg-black-transparent: rgba(0, 0, 0, 0.575);
