/**************************************
***** Icons
***************************************/

.icon {
	height: 2.5rem;
	width: 2.5rem;

	&--logo {
		fill: $color-red-dark-3;
		margin-left: 0.5rem;
		height: 2.8rem;
		width: 2.8rem;
		transform: rotate(0);
		transition: all 0.6s ease-in-out;
	}

	&--search {
		height: 2rem;
		width: 2rem;
		fill: $text-gray;
	}

	&--log-out {
		fill: $text-gray-dark;
	}

	&--nav {
		fill: $color-white;
		height: 2.1rem;
		width: 2.1rem;
		margin-right: 1rem;
	}

	&--activity {
		fill: $color-red-dark-3;
	}

	&--controller {
		height: 4.5rem;
		width: 4.5rem;
		fill: $text-gray-light;
		transition: all 0.2s ease-in-out;
	}

	&--volume {
		fill: $text-gray-light;
		// fill: $text-gray-dark;
		margin-right: 1rem;
	}

	&--play_song {
		height: 2.6rem;
		width: 2.6rem;
	}

	&--opend {
		transform: rotate(90deg);
	}

	&--menu_mobile {
		@include media(47.62em) {
			height: 3.5rem;
			width: 3.5rem;
		}
	}
}
