/**************************************
***** Typography
***************************************/
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	text-rendering: optimizeLegibility;
	color: $color-white;
	font-size: 1.6rem;
}

.heading-second {
	font-size: 3.4rem;
	color: $color-white;

	@include media(phone) {
		font-size: 2.5rem;
	}
}

.heading-third {
	font-size: 2.4rem;
	font-weight: 400;
	color: $text-gray-light;

	@include media(phone) {
		margin-top: 2rem;
	}
}

.heading-fourth {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	font-size: 1.3rem;
	@include sidebarPadding;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 0.5px;
		background-color: rgba(214, 214, 214, 0.253);
		margin-top: 0.6rem;
	}
}

.header {
	&__logo-text {
		font-size: 1.8rem;
	}

	&__user-name {
		font-size: 1.4rem;
		font-weight: 400;
	}
}

.song-details {
	&__title,
	&__artist {
		padding: 0.1rem 0.4rem 0 0.4rem;
	}

	&__title {
		font-size: 1.4rem;
		font-weight: 400;
	}

	&__artist {
		font-size: 1.2rem;
	}
}

.album,
.artist {
	&__name {
		font-weight: 400;
		margin-top: 1.2rem;
		font-size: 1.5rem;
	}

	&__name {
		text-align: center;
	}
}

.album {
	&__artist {
		font-size: 1.4rem;
		color: $text-gray-light;
	}
}

.user {
	&__name {
		font-size: 1.4rem;
		color: $text-gray-light;
		font-weight: 400;
	}

	&__title,
	&__artist {
		font-size: 1.2rem;
	}
}

.chart,
.results {
	color: $text-gray-light;

	&__type {
		text-transform: uppercase;
		font-size: 1.2rem;
		margin-bottom: -0.6rem;
	}

	&__text {
		font-size: 1.6rem;
		margin-bottom: 0.8rem;
	}

	&__details {
		font-size: 1.4rem;
	}

	&__followers,
	&__creator {
		margin-bottom: 0.6rem;
		font-size: 1.4rem;
	}

	&__titles {
		text-transform: uppercase;
		font-size: 1.3rem;
		letter-spacing: 1.5px;
		font-weight: 400;
		color: $text-gray;
	}

	&__message_description {
		width: 34rem;
		text-align: center;
	}
}
