.activity {
	position: relative;
	z-index: 1000;
	background-color: $bg-dark-gray;
	padding: 2rem 1rem;

	&__backdrop {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		object-fit: cover;
		z-index: -1;
	}

	&__users {
		list-style: none;
	}

	&__user {
		display: flex;
		margin-bottom: 2.5rem;
	}
}
