.album,
.artist {
	width: 21rem;
	margin-bottom: 4rem;

	@include media(39.6em) {
		width: 18rem;
	}

	@include media(23.6em) {
		width: 14rem;
	}

	&__cover {
		width: 100%;
		height: 20rem;
		position: relative;
		margin-bottom: 0.8rem;

		@include media(39.6em) {
			height: 18rem;
		}

		@include media(23.6em) {
			height: 14rem;
		}
	}

	&__cover-img {
		width: 100%;
		height: 100%;
		object-fit: fill;
		filter: hue-rotate(168deg);
	}

	&__player {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0);
		@include flexCenter;
		transition: all 0.3s ease-in-out;
	}

	&__play,
	&__loading {
		opacity: 0;
		transform: translateY(4px);
	}

	&__cover:hover &__player {
		background-color: rgba(0, 0, 0, 0.699);
	}

	&__cover:hover &__play {
		opacity: 1;
		transform: translateY(0) rotate(0deg);
	}

	&__cover:hover &__loading {
		opacity: 1;
		transform: translateY(0);
	}

	&__link {
		&:link,
		&:visited {
			font-weight: 400;
			font-size: 1.5rem;
			text-decoration: none;
			color: $text-gray-light;
		}

		&:hover,
		&:active {
			text-decoration: underline;
			color: $color-white;
		}
	}
}

.artist {
	&__cover {
		border-radius: 50%;
		overflow: hidden;
		width: 86%;
		height: 18rem;
		margin: 0 auto;

		@include media(39.6em) {
			height: 16rem;
			width: 16rem;
		}

		@include media(23.6em) {
			height: 14rem;
			width: 14rem;
		}
	}
}
