.chart {
	&__top {
		padding-top: 4.5rem;
		display: flex;
		align-items: flex-end;

		@include media(46.25em) {
			align-items: center;
		}
	}

	&__cover {
		height: 22rem;
		width: 22rem;
		margin-right: 2.5rem;
		filter: hue-rotate(318deg);

		@include media(phone) {
			height: 16rem;
			width: 16rem;
		}
	}

	&__details {
		@include flexCenterV;
		& > * {
			&:not(:last-child)::after {
				content: '\22C5';
				margin-left: 0.6rem;
				margin-right: 0.6rem;
			}
		}
	}

	&__text {
		@include media(46.25em) {
			display: none;
		}
	}

	&__bottom {
		margin-top: 4rem;
	}

	&__titles {
		display: flex;
		border-bottom: 0.8px solid rgba(214, 214, 214, 0.205);
		padding: 0 1.5rem 0.6rem 1.5rem;
	}

	&__nb_followers {
		margin-left: 0.4rem;
	}

	&__num {
		flex-basis: 15rem;

		@include media(tab-port) {
			flex-basis: 8rem;
		}

		@include media(31.25em) {
			flex-basis: 15rem;
		}
	}

	&__title {
		flex: 2;
	}

	&__artist,
	&__album {
		flex: 1;
	}

	&__artist {
		@include media(31.25em) {
			display: none;
		}
	}

	&__album {
		@include media(phone) {
			display: none;
		}
	}

	&__plays {
		flex-basis: 15rem;
		display: flex;
		justify-content: flex-end;

		@include media(81.25em) {
			display: none;
		}
	}
}
