%spinner {
	content: '';
	border-radius: 50%;
	display: block;
}

.loading {
	padding: 8rem 0 2rem 0;
	@include flexCenter;
	flex-direction: column;

	&--small {
		padding: 4rem 0 2rem 0;
	}

	&__spinner {
		@extend %spinner;
		height: 8rem;
		width: 8rem;
		border: 6px solid $color-red-dark-3;
		position: relative;
		margin-bottom: 5rem;
		margin-top: 3rem;

		&--small {
			height: 5rem;
			width: 5rem;
			border: 4px solid $color-white;
		}

		&::before {
			@extend %spinner;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 3rem;
			width: 3rem;
			background-color: $color-red-dark-3;
		}

		&--small::before {
			height: 2rem;
			width: 2rem;
			background-color: $color-white;
		}

		&::after {
			@extend %spinner;
			position: absolute;
			top: -60%;
			left: -60%;
			height: 15rem;
			width: 15rem;
			border: 6px solid transparent;
			border-left-color: $color-red-dark-3;
			border-right-color: $color-red-dark-3;
			animation: spinner 2s infinite;
		}

		&--small::after {
			height: 8rem;
			width: 8rem;
			top: -45%;
			left: -45%;
			border: 4px solid transparent;
			border-left-color: $color-white;
			border-right-color: $color-white;
		}
	}
}
