.player {
	background-color: $bg-gray-light;
	@include flexCenterV;
	color: $text-gray-light;

	& > * {
		align-self: stretch;
		@include flexCenterV;
	}

	@include media(phone) {
		justify-content: center;
	}

	&__controllers,
	&__volume {
		padding: 0 2rem;
	}

	&__volume {
		@include media(phone-big) {
			display: none;
		}
	}

	&__progress {
		flex: 1;
		padding: 0 4rem;

		@include media(phone) {
			display: none;
		}
	}

	&__bar {
		background-color: $text-gray-light;
		width: 100%;
		height: 0.6rem;
		margin: 0 2rem;
		border-radius: 10px;
		margin-top: 0.4rem;
		@include flexCenterV;
		cursor: pointer;
	}

	&__filld {
		content: '';
		display: block;
		height: 100%;
		flex-basis: 30%;
		border-radius: 10px;
		background-color: $color-red-dark-3;
		transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	&__bar-thumb {
		content: '';
		display: block;
		height: 1.4rem;
		width: 1.4rem;
		border-radius: 50%;
		background-color: $color-red-dark-3;
		margin-left: -0.4rem;
	}

	&__slider {
		position: relative;
		width: 18rem;
		border-radius: 10px;
		display: flex;
		background-color: $text-gray-light;
	}

	&__slider,
	&__range-filled,
	&__range {
		height: 0.5rem;
	}

	&__range {
		-webkit-appearance: none;
		width: 100%;
		border-radius: 10px;
		background-color: transparent;
		z-index: 10;

		&:focus {
			outline: none;
		}

		&::-moz-range-track {
			-webkit-appearance: none;
			width: 100%;
			border-radius: 10px;
			background-color: transparent;
			z-index: 10;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 1.4rem;
			height: 1.4rem;
			border-radius: 50%;
			background-color: $text-gray-light;
			border: 1px solid rgba(172, 172, 172, 0.63);
		}

		&::-moz-range-thumb {
			-webkit-appearance: none;
			width: 1.2rem;
			height: 1.2rem;
			border-radius: 50%;
			background-color: $text-gray-light;
			border: 1px solid rgba(172, 172, 172, 0.63);
		}

		&::-moz-focus-outer {
			border: 0;
		}
	}

	&__range-filled {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		display: block;
		width: 20%;
		border-radius: 10px;
		background-color: $color-red-dark-3;
		z-index: 8;
	}

	&__time,
	&__current-time {
		font-size: 1.3rem;
	}
}
