.search-form {
	@include flexCenter;
	justify-content: flex-start;
	background-color: $color-white;
	border: 1px solid $text-gray-light;
	border-radius: 20px;
	padding: 0.3rem 1rem;
	flex-basis: 24rem;
	margin-right: auto;
	margin-left: 10rem;

	@include media(phone) {
		margin-left: 4rem;
		flex-basis: 18rem;
	}

	&:focus {
		border: 1px solid red;
	}

	&__input-text {
		border: 1px solid transparent;
		background-color: transparent;
		font-size: 1.3rem;
		margin-left: 1rem;
		color: $color-red-dark-3;
		width: 100%;

		&:focus {
			outline: none;
		}

		&:invalid {
			box-shadow: none;
		}

		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			color: $text-gray;
			font-weight: 300;
		}
		&::-moz-placeholder {
			/* Firefox 19+ */
			color: $text-gray;
			font-weight: 300;
		}
		&:-ms-input-placeholder {
			/* IE 10+ */
			color: $text-gray;
			font-weight: 300;
		}
		&:-moz-placeholder {
			/* Firefox 18- */
			color: $text-gray;
			font-weight: 300;
		}
	}
}
