.sidebar {
	position: relative;
	z-index: 1000;
	background-color: $bg-dark-gray;
	padding: 1.2rem 0rem 1rem 0rem;
	@include flexColumn;

	@include media(47.62em) {
		position: absolute;
		top: 0;
		left: -100%;
		height: 100%;
		width: 24rem;
		transition: all 0.6s ease-in-out;
	}

	&--mobile_open {
		left: 0;
	}

	&__backdrop {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		object-fit: cover;
	}
}
