.song {
	@include flexCenterV;
	border-bottom: 0.8px solid rgba(214, 214, 214, 0.103);
	padding: 1rem 1.5rem;

	&:hover {
		background-color: rgba(39, 39, 39, 0.103);
	}

	&__controller,
	&__plays {
		display: flex;
		flex-basis: 15rem;
	}

	&__plays {
		justify-content: flex-end;

		@include media(81.25em) {
			display: none;
		}
	}

	&__controller {
		align-items: center;
		position: relative;

		@include media(tab-port) {
			flex-basis: 8rem;
		}

		@include media(31.25em) {
			flex-basis: 15rem;
		}
	}

	&__play {
		position: absolute;
		left: -1.2rem;
		opacity: 0;
	}

	&__number {
		opacity: 1;
		transition: all 0.2s ease-in-out;
	}

	&:hover &__number {
		opacity: 0;
	}

	&:hover &__play {
		opacity: 1;
	}

	&__title {
		flex: 2;
	}

	&__artist,
	&__album {
		flex: 1;
	}

	&__artist {
		@include media(31.25em) {
			display: none;
		}
	}

	&__album {
		@include media(phone) {
			display: none;
		}
	}
}
