.song-details {
	margin-top: auto;

	&__cover_box {
		width: 100%;
		height: 20rem;
		margin-bottom: 1rem;
		position: relative;
	}

	&__cover_box:hover &__add {
		opacity: 1;
		visibility: visible;
	}

	&__cover_box:hover &__add > * {
		transform: translateY(0);
	}

	&__add {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include flexCenter;
		background-color: rgba(0, 0, 0, 0.699);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
	}

	&__cover {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}
