/**************************************
***** BASE
***************************************/

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include media(big-desktop) {
		font-size: 63.5%;
	}

	@include media(tab-land) {
		font-size: 56.5%;
	}

	@include media(tab-port) {
		font-size: 54%;
	}
}

body {
	box-sizing: border-box;
	overflow: hidden;
}

.scroll {
	&::-webkit-scrollbar {
		width: 1rem;
	}

	&::-webkit-scrollbar-track {
		background-color: $bg-dark-gray;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-gray-light-transparent-2;
		border-radius: 50px;
	}
}

.container {
	height: 100vh;
	background-color: $color-black;
	@include flexColumn;
}

.header {
	height: 4.4rem;

	@include media(47.62em) {
		height: 5.5rem;
	}
}

.content {
	flex: 1;
	display: flex;
	overflow: hidden;
	position: relative;
}

.sidebar,
.activity {
	flex-basis: 22rem;
}

@include media(43.73em) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.activity {
	@include media(65.3em) {
		display: none;
	}
}

.main {
	flex: 1;
	padding: 0 3rem 2rem 3rem;
	overflow-y: scroll;
	@extend .scroll;
}

.player {
	height: 7rem;
	background-color: $color-gra-light-dark;
}
