// Media queries
/*

1800px: Big desktop
1200 - 900px: Tablet landscape
900 - 600px: Tablet portrait
600 - 480px : Phone
480px - 0 : Small phone

- big-desktop      1800px - 112.5em
- tab-land         1200px - 75em
- tab-port         900px - 56.25em
- phone-land       700px - 43.75em
- phone            600px - 37.5em
- phone-sm         480px - 30em

*/

@mixin media($breakpoint) {
     @if $breakpoint == big-desktop { //1800px
          @media only screen and (min-width: 112.5em) {@content};
     }
     
     @if $breakpoint == tab-land { // 1200px
          @media only screen and (max-width: 75em) { @content };
     }

     @else if $breakpoint == tab-port { //900px 
          @media only screen and (max-width: 56.25em) { @content };
     }

     @else if $breakpoint == phone-land  { //600px
          @media only screen and (max-width: 43.75em) and (orientation: landscape) { @content };
     }

     @else if $breakpoint == phone-big  { //600px
          @media only screen and (max-width: 43.75em) { @content };
     }

     @else if $breakpoint == phone { //600px
          @media only screen and (max-width: 37.5em) { @content };
     }

     @else if $breakpoint == phone-sm { //480px
          @media only screen and (max-width: 30em) { @content };
     }

     @else {
          @media only screen and (max-width: $breakpoint) { @content };
     }
}

@mixin mediaheight($height) {
     
     @if $height == tab-land { // 720px
          @media only screen and (max-height: 45em) { @content };
     }

     @else { 
          @media only screen and (max-height: $height) { @content };
     }
}