@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexCenterH {
	display: flex;
	justify-content: center;
}

@mixin flexCenterV {
	display: flex;
	align-items: center;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

@mixin sidebarPadding {
	padding: 1.5rem 2rem 0 2rem;
}

@mixin baseAlbumArtist {
	&__backdrop {
		width: 100%;
		object-fit: cover;

		@include media(phone) {
			display: none;
		}
	}

	&__content {
		width: 100%;
		margin-top: 3.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
	}
}

@mixin baseSection {
	&__backdrop {
		width: 100%;
		object-fit: cover;

		@include media(phone) {
			display: none;
		}
	}

	&__message {
		height: 40vh;
		@include flexCenter;
		flex-direction: column;
	}

	&__details {
		@include flexCenterV;
		& > * {
			&:not(:last-child)::after {
				content: '\22C5';
				margin-left: 0.6rem;
				margin-right: 0.6rem;
			}
		}
	}

	&__titles {
		display: flex;
		border-bottom: 0.8px solid rgba(214, 214, 214, 0.205);
		padding: 0 1.5rem 0.6rem 1.5rem;
		margin-top: 3rem;
	}

	&__num {
		flex-basis: 15rem;

		@include media(tab-port) {
			flex-basis: 8rem;
		}

		@include media(31.25em) {
			flex-basis: 15rem;
		}
	}

	&__title {
		flex: 2;
	}

	&__artist,
	&__album {
		flex: 1;
	}

	&__artist {
		@include media(31.25em) {
			display: none;
		}
	}

	&__album {
		@include media(phone) {
			display: none;
		}
	}

	&__plays {
		flex-basis: 15rem;
		display: flex;
		justify-content: flex-end;

		@include media(81.25em) {
			display: none;
		}
	}
}
