.header {
	background-color: $color-gray-light;
	color: $text-gray-dark;
	@include flexCenterV;
	padding: 2rem 2.2rem;

	&__logo {
		@include flexCenter;
		align-self: stretch;

		@include media(47.62em) {
			display: none;
		}
	}

	&__user {
		@include flexCenter;
		align-self: stretch;
		margin-right: 1rem;

		@include media(phone) {
			display: none;
		}
	}

	&__user-img {
		height: 2.8rem;
		width: 2.8rem;
		margin-right: 1rem;
	}
}
