.nav {
	margin-top: 1rem;

	&__list {
		list-style: none;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 0.8rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			text-decoration: none;
			@include flexCenterV;
			padding: 0.8rem 1.5rem;
			color: $color-white;
			background-image: linear-gradient(
				145deg,
				transparent 50%,
				red 50%,
				$color-gray-light-transparent 50%
			);
			background-size: 260%;
			transition: all 0.6s ease-in-out;
		}

		&:hover,
		&:active {
			background-position: 90%;
		}

		&--active {
			&:link,
			&:visited {
				background-image: linear-gradient(
					145deg,
					transparent 50%,
					red 50%,
					$color-gray-light-transparent 50%
				);
				background-size: 260%;
				background-position: 90%;
			}
		}
	}
}

/* Safari */

_:default:not(:root:root),
.nav__link {
	&:link,
	&:visited {
		background: transparent;
		transition: all 0.2s ease-in-out;
	}

	&:hover,
	&:active {
		background: rgba(249, 249, 249, 0.548);
	}
}

_:default:not(:root:root),
.nav__link--active {
	&:link,
	&:visited {
		background: rgba(249, 249, 249, 0.548);
	}
}
