.nav-albums {
	margin-top: 1rem;

	&__list {
		list-style: none;
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 3rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			text-decoration: none;
			font-size: 1.8rem;
			font-weight: 400;
			color: $text-gray-light;
		}

		&:link::after,
		&:visited::after {
			content: '';
			display: block;
			height: 0.2rem;
			width: 60%;
			margin: 0 auto;
			transform: scale(0);
			background-color: $color-red-dark-3;
			margin-top: 0.1rem;
			transition: all 0.3s ease-in-out;
		}

		&:hover::after,
		&:active::after {
			transform: scale(1);
		}

		&--active {
			&:link::after,
			&:visited::after {
				transform: scale(1);
			}
		}
	}
}
