@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(30deg) scale(1.06); }
  100% {
    transform: rotate(360deg) scale(1); } }

/*

1800px: Big desktop
1200 - 900px: Tablet landscape
900 - 600px: Tablet portrait
600 - 480px : Phone
480px - 0 : Small phone

- big-desktop      1800px - 112.5em
- tab-land         1200px - 75em
- tab-port         900px - 56.25em
- phone-land       700px - 43.75em
- phone            600px - 37.5em
- phone-sm         480px - 30em

*/
/**************************************
***** Colors
***************************************/
/**************************************
***** Typography
***************************************/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  font-size: 1.6rem; }

.heading-second {
  font-size: 3.4rem;
  color: #ffffff; }
  @media only screen and (max-width: 37.5em) {
    .heading-second {
      font-size: 2.5rem; } }

.heading-third {
  font-size: 2.4rem;
  font-weight: 400;
  color: #dfdfdf; }
  @media only screen and (max-width: 37.5em) {
    .heading-third {
      margin-top: 2rem; } }

.heading-fourth {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 1.3rem;
  padding: 1.5rem 2rem 0 2rem; }
  .heading-fourth::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: rgba(214, 214, 214, 0.253);
    margin-top: 0.6rem; }

.header__logo-text {
  font-size: 1.8rem; }

.header__user-name {
  font-size: 1.4rem;
  font-weight: 400; }

.song-details__title, .song-details__artist {
  padding: 0.1rem 0.4rem 0 0.4rem; }

.song-details__title {
  font-size: 1.4rem;
  font-weight: 400; }

.song-details__artist {
  font-size: 1.2rem; }

.album__name,
.artist__name {
  font-weight: 400;
  margin-top: 1.2rem;
  font-size: 1.5rem; }

.album__name,
.artist__name {
  text-align: center; }

.album__artist {
  font-size: 1.4rem;
  color: #dfdfdf; }

.user__name {
  font-size: 1.4rem;
  color: #dfdfdf;
  font-weight: 400; }

.user__title, .user__artist {
  font-size: 1.2rem; }

.chart,
.results {
  color: #dfdfdf; }
  .chart__type,
  .results__type {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: -0.6rem; }
  .chart__text,
  .results__text {
    font-size: 1.6rem;
    margin-bottom: 0.8rem; }
  .chart__details,
  .results__details {
    font-size: 1.4rem; }
  .chart__followers, .chart__creator,
  .results__followers,
  .results__creator {
    margin-bottom: 0.6rem;
    font-size: 1.4rem; }
  .chart__titles,
  .results__titles {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: #d3d5d6; }
  .chart__message_description,
  .results__message_description {
    width: 34rem;
    text-align: center; }

/**************************************
***** Icons
***************************************/
.icon {
  height: 2.5rem;
  width: 2.5rem; }
  .icon--logo {
    fill: #ac3e49;
    margin-left: 0.5rem;
    height: 2.8rem;
    width: 2.8rem;
    transform: rotate(0);
    transition: all 0.6s ease-in-out; }
  .icon--search {
    height: 2rem;
    width: 2rem;
    fill: #d3d5d6; }
  .icon--log-out {
    fill: #4d4d4d; }
  .icon--nav {
    fill: #ffffff;
    height: 2.1rem;
    width: 2.1rem;
    margin-right: 1rem; }
  .icon--activity {
    fill: #ac3e49; }
  .icon--controller {
    height: 4.5rem;
    width: 4.5rem;
    fill: #dfdfdf;
    transition: all 0.2s ease-in-out; }
  .icon--volume {
    fill: #dfdfdf;
    margin-right: 1rem; }
  .icon--play_song {
    height: 2.6rem;
    width: 2.6rem; }
  .icon--opend {
    transform: rotate(90deg); }
  @media only screen and (max-width: 47.62em) {
    .icon--menu_mobile {
      height: 3.5rem;
      width: 3.5rem; } }

/**************************************
***** BUTTONS
***************************************/
.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent; }
  .btn:focus {
    outline: none; }
  .btn--submit {
    height: 2rem;
    width: 2rem; }
  .btn--log-out {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg); }
  .btn--mobile_menu {
    display: none; }
    @media only screen and (max-width: 47.62em) {
      .btn--mobile_menu {
        display: block; } }
  .btn--play {
    margin: 0 0.2rem; }
  .btn--song_play, .btn--add, .btn--remove {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out; }
    .btn--song_play:hover, .btn--add:hover, .btn--remove:hover {
      border: 1px solid #dfdfdf; }
  .btn--add, .btn--remove {
    border: 2px solid transparent;
    height: 5rem;
    width: 5rem;
    transform: translateY(6px); }
    .btn--add:hover, .btn--remove:hover {
      border: 2px solid #dfdfdf; }
  .btn--album_play {
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 0.4rem;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s 0.2s ease-in-out;
    backface-visibility: hidden;
    transition: all 0.2s ease-in-out; }
    .btn--album_play:hover {
      border: 2px solid #dfdfdf; }

/**************************************
***** BASE
***************************************/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 63.5%; } }
  @media only screen and (max-width: big-desktop) {
    html {
      font-size: 63.5%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 54%; } }

body {
  box-sizing: border-box;
  overflow: hidden; }

.scroll::-webkit-scrollbar, .main::-webkit-scrollbar {
  width: 1rem; }

.scroll::-webkit-scrollbar-track, .main::-webkit-scrollbar-track {
  background-color: #101515; }

.scroll::-webkit-scrollbar-thumb, .main::-webkit-scrollbar-thumb {
  background-color: rgba(53, 53, 53, 0.61);
  border-radius: 50px; }

.container {
  height: 100vh;
  background-color: #101515;
  display: flex;
  flex-direction: column; }

.header {
  height: 4.4rem; }
  @media only screen and (max-width: 47.62em) {
    .header {
      height: 5.5rem; } }

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative; }

.sidebar,
.activity {
  flex-basis: 22rem; }

@media only screen and (max-width: 43.73em) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; }

@media only screen and (max-width: 65.3em) {
  .activity {
    display: none; } }

.main {
  flex: 1;
  padding: 0 3rem 2rem 3rem;
  overflow-y: scroll; }

.player {
  height: 7rem;
  background-color: #575e63; }

.header {
  background-color: #f9f9f9;
  color: #4d4d4d;
  display: flex;
  align-items: center;
  padding: 2rem 2.2rem; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch; }
    @media only screen and (max-width: 47.62em) {
      .header__logo {
        display: none; } }
  .header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-right: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .header__user {
        display: none; } }
  .header__user-img {
    height: 2.8rem;
    width: 2.8rem;
    margin-right: 1rem; }

.nav {
  margin-top: 1rem; }
  .nav__list {
    list-style: none; }
  .nav__item:not(:last-child) {
    margin-bottom: 0.8rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.8rem 1.5rem;
    color: #ffffff;
    background-image: linear-gradient(145deg, transparent 50%, red 50%, #f9f9f99a 50%);
    background-size: 260%;
    transition: all 0.6s ease-in-out; }
  .nav__link:hover, .nav__link:active {
    background-position: 90%; }
  .nav__link--active:link, .nav__link--active:visited {
    background-image: linear-gradient(145deg, transparent 50%, red 50%, #f9f9f99a 50%);
    background-size: 260%;
    background-position: 90%; }

/* Safari */
_:default:not(:root:root):link, _:default:not(:root:root):visited,
.nav__link:link,
.nav__link:visited {
  background: transparent;
  transition: all 0.2s ease-in-out; }

_:default:not(:root:root):hover, _:default:not(:root:root):active,
.nav__link:hover,
.nav__link:active {
  background: rgba(249, 249, 249, 0.548); }

_:default:not(:root:root):link, _:default:not(:root:root):visited,
.nav__link--active:link,
.nav__link--active:visited {
  background: rgba(249, 249, 249, 0.548); }

.nav-albums {
  margin-top: 1rem; }
  .nav-albums__list {
    list-style: none;
    display: flex; }
  .nav-albums__item:not(:last-child) {
    margin-right: 3rem; }
  .nav-albums__link:link, .nav-albums__link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: #dfdfdf; }
  .nav-albums__link:link::after, .nav-albums__link:visited::after {
    content: '';
    display: block;
    height: 0.2rem;
    width: 60%;
    margin: 0 auto;
    transform: scale(0);
    background-color: #ac3e49;
    margin-top: 0.1rem;
    transition: all 0.3s ease-in-out; }
  .nav-albums__link:hover::after, .nav-albums__link:active::after {
    transform: scale(1); }
  .nav-albums__link--active:link::after, .nav-albums__link--active:visited::after {
    transform: scale(1); }

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  padding: 0.3rem 1rem;
  flex-basis: 24rem;
  margin-right: auto;
  margin-left: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .search-form {
      margin-left: 4rem;
      flex-basis: 18rem; } }
  .search-form:focus {
    border: 1px solid red; }
  .search-form__input-text {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #ac3e49;
    width: 100%; }
    .search-form__input-text:focus {
      outline: none; }
    .search-form__input-text:invalid {
      box-shadow: none; }
    .search-form__input-text::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #d3d5d6;
      font-weight: 300; }
    .search-form__input-text::-moz-placeholder {
      /* Firefox 19+ */
      color: #d3d5d6;
      font-weight: 300; }
    .search-form__input-text:-ms-input-placeholder {
      /* IE 10+ */
      color: #d3d5d6;
      font-weight: 300; }
    .search-form__input-text:-moz-placeholder {
      /* Firefox 18- */
      color: #d3d5d6;
      font-weight: 300; }

.sidebar {
  position: relative;
  z-index: 1000;
  background-color: #101515;
  padding: 1.2rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 47.62em) {
    .sidebar {
      position: absolute;
      top: 0;
      left: -100%;
      height: 100%;
      width: 24rem;
      transition: all 0.6s ease-in-out; } }
  .sidebar--mobile_open {
    left: 0; }
  .sidebar__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover; }

.song-details {
  margin-top: auto; }
  .song-details__cover_box {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
    position: relative; }
  .song-details__cover_box:hover .song-details__add {
    opacity: 1;
    visibility: visible; }
  .song-details__cover_box:hover .song-details__add > * {
    transform: translateY(0); }
  .song-details__add {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.699);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out; }
  .song-details__cover {
    width: 100%;
    height: 100%;
    object-fit: fill; }

.albums__backdrop {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 37.5em) {
    .albums__backdrop {
      display: none; } }

.albums__content {
  width: 100%;
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none; }

.artists__backdrop {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 37.5em) {
    .artists__backdrop {
      display: none; } }

.artists__content {
  width: 100%;
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none; }

.album,
.artist {
  width: 21rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 39.6em) {
    .album,
    .artist {
      width: 18rem; } }
  @media only screen and (max-width: 23.6em) {
    .album,
    .artist {
      width: 14rem; } }
  .album__cover,
  .artist__cover {
    width: 100%;
    height: 20rem;
    position: relative;
    margin-bottom: 0.8rem; }
    @media only screen and (max-width: 39.6em) {
      .album__cover,
      .artist__cover {
        height: 18rem; } }
    @media only screen and (max-width: 23.6em) {
      .album__cover,
      .artist__cover {
        height: 14rem; } }
  .album__cover-img,
  .artist__cover-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: hue-rotate(168deg); }
  .album__player,
  .artist__player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out; }
  .album__play, .album__loading,
  .artist__play,
  .artist__loading {
    opacity: 0;
    transform: translateY(4px); }
  .album__cover:hover .album__player,
  .artist__cover:hover .album__player, .album__cover:hover
  .artist__player,
  .artist__cover:hover
  .artist__player {
    background-color: rgba(0, 0, 0, 0.699); }
  .album__cover:hover .album__play,
  .artist__cover:hover .album__play, .album__cover:hover
  .artist__play,
  .artist__cover:hover
  .artist__play {
    opacity: 1;
    transform: translateY(0) rotate(0deg); }
  .album__cover:hover .album__loading,
  .artist__cover:hover .album__loading, .album__cover:hover
  .artist__loading,
  .artist__cover:hover
  .artist__loading {
    opacity: 1;
    transform: translateY(0); }
  .album__link:link, .album__link:visited,
  .artist__link:link,
  .artist__link:visited {
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    color: #dfdfdf; }
  .album__link:hover, .album__link:active,
  .artist__link:hover,
  .artist__link:active {
    text-decoration: underline;
    color: #ffffff; }

.artist__cover {
  border-radius: 50%;
  overflow: hidden;
  width: 86%;
  height: 18rem;
  margin: 0 auto; }
  @media only screen and (max-width: 39.6em) {
    .artist__cover {
      height: 16rem;
      width: 16rem; } }
  @media only screen and (max-width: 23.6em) {
    .artist__cover {
      height: 14rem;
      width: 14rem; } }

.activity {
  position: relative;
  z-index: 1000;
  background-color: #101515;
  padding: 2rem 1rem; }
  .activity__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1; }
  .activity__users {
    list-style: none; }
  .activity__user {
    display: flex;
    margin-bottom: 2.5rem; }

.user {
  display: flex;
  align-items: center;
  margin-right: auto; }
  .user__photo {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem; }

.player {
  background-color: #151c20;
  display: flex;
  align-items: center;
  color: #dfdfdf; }
  .player > * {
    align-self: stretch;
    display: flex;
    align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .player {
      justify-content: center; } }
  .player__controllers, .player__volume {
    padding: 0 2rem; }
  @media only screen and (max-width: 43.75em) {
    .player__volume {
      display: none; } }
  .player__progress {
    flex: 1;
    padding: 0 4rem; }
    @media only screen and (max-width: 37.5em) {
      .player__progress {
        display: none; } }
  .player__bar {
    background-color: #dfdfdf;
    width: 100%;
    height: 0.6rem;
    margin: 0 2rem;
    border-radius: 10px;
    margin-top: 0.4rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
  .player__filld {
    content: '';
    display: block;
    height: 100%;
    flex-basis: 30%;
    border-radius: 10px;
    background-color: #ac3e49;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .player__bar-thumb {
    content: '';
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: #ac3e49;
    margin-left: -0.4rem; }
  .player__slider {
    position: relative;
    width: 18rem;
    border-radius: 10px;
    display: flex;
    background-color: #dfdfdf; }
  .player__slider, .player__range-filled, .player__range {
    height: 0.5rem; }
  .player__range {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    z-index: 10; }
    .player__range:focus {
      outline: none; }
    .player__range::-moz-range-track {
      -webkit-appearance: none;
      width: 100%;
      border-radius: 10px;
      background-color: transparent;
      z-index: 10; }
    .player__range::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background-color: #dfdfdf;
      border: 1px solid rgba(172, 172, 172, 0.63); }
    .player__range::-moz-range-thumb {
      -webkit-appearance: none;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: #dfdfdf;
      border: 1px solid rgba(172, 172, 172, 0.63); }
    .player__range::-moz-focus-outer {
      border: 0; }
  .player__range-filled {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 20%;
    border-radius: 10px;
    background-color: #ac3e49;
    z-index: 8; }
  .player__time, .player__current-time {
    font-size: 1.3rem; }

.loading__spinner, .loading__spinner::before, .loading__spinner::after {
  content: '';
  border-radius: 50%;
  display: block; }

.loading {
  padding: 8rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .loading--small {
    padding: 4rem 0 2rem 0; }
  .loading__spinner {
    height: 8rem;
    width: 8rem;
    border: 6px solid #ac3e49;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 3rem; }
    .loading__spinner--small {
      height: 5rem;
      width: 5rem;
      border: 4px solid #ffffff; }
    .loading__spinner::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 3rem;
      width: 3rem;
      background-color: #ac3e49; }
    .loading__spinner--small::before {
      height: 2rem;
      width: 2rem;
      background-color: #ffffff; }
    .loading__spinner::after {
      position: absolute;
      top: -60%;
      left: -60%;
      height: 15rem;
      width: 15rem;
      border: 6px solid transparent;
      border-left-color: #ac3e49;
      border-right-color: #ac3e49;
      animation: spinner 2s infinite; }
    .loading__spinner--small::after {
      height: 8rem;
      width: 8rem;
      top: -45%;
      left: -45%;
      border: 4px solid transparent;
      border-left-color: #ffffff;
      border-right-color: #ffffff; }

.chart__top {
  padding-top: 4.5rem;
  display: flex;
  align-items: flex-end; }
  @media only screen and (max-width: 46.25em) {
    .chart__top {
      align-items: center; } }

.chart__cover {
  height: 22rem;
  width: 22rem;
  margin-right: 2.5rem;
  filter: hue-rotate(318deg); }
  @media only screen and (max-width: 37.5em) {
    .chart__cover {
      height: 16rem;
      width: 16rem; } }

.chart__details {
  display: flex;
  align-items: center; }
  .chart__details > *:not(:last-child)::after {
    content: '\22C5';
    margin-left: 0.6rem;
    margin-right: 0.6rem; }

@media only screen and (max-width: 46.25em) {
  .chart__text {
    display: none; } }

.chart__bottom {
  margin-top: 4rem; }

.chart__titles {
  display: flex;
  border-bottom: 0.8px solid rgba(214, 214, 214, 0.205);
  padding: 0 1.5rem 0.6rem 1.5rem; }

.chart__nb_followers {
  margin-left: 0.4rem; }

.chart__num {
  flex-basis: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .chart__num {
      flex-basis: 8rem; } }
  @media only screen and (max-width: 31.25em) {
    .chart__num {
      flex-basis: 15rem; } }

.chart__title {
  flex: 2; }

.chart__artist, .chart__album {
  flex: 1; }

@media only screen and (max-width: 31.25em) {
  .chart__artist {
    display: none; } }

@media only screen and (max-width: 37.5em) {
  .chart__album {
    display: none; } }

.chart__plays {
  flex-basis: 15rem;
  display: flex;
  justify-content: flex-end; }
  @media only screen and (max-width: 81.25em) {
    .chart__plays {
      display: none; } }

.song {
  display: flex;
  align-items: center;
  border-bottom: 0.8px solid rgba(214, 214, 214, 0.103);
  padding: 1rem 1.5rem; }
  .song:hover {
    background-color: rgba(39, 39, 39, 0.103); }
  .song__controller, .song__plays {
    display: flex;
    flex-basis: 15rem; }
  .song__plays {
    justify-content: flex-end; }
    @media only screen and (max-width: 81.25em) {
      .song__plays {
        display: none; } }
  .song__controller {
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .song__controller {
        flex-basis: 8rem; } }
    @media only screen and (max-width: 31.25em) {
      .song__controller {
        flex-basis: 15rem; } }
  .song__play {
    position: absolute;
    left: -1.2rem;
    opacity: 0; }
  .song__number {
    opacity: 1;
    transition: all 0.2s ease-in-out; }
  .song:hover .song__number {
    opacity: 0; }
  .song:hover .song__play {
    opacity: 1; }
  .song__title {
    flex: 2; }
  .song__artist, .song__album {
    flex: 1; }
  @media only screen and (max-width: 31.25em) {
    .song__artist {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .song__album {
      display: none; } }

.load {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.results__backdrop {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 37.5em) {
    .results__backdrop {
      display: none; } }

.results__message {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.results__details {
  display: flex;
  align-items: center; }
  .results__details > *:not(:last-child)::after {
    content: '\22C5';
    margin-left: 0.6rem;
    margin-right: 0.6rem; }

.results__titles {
  display: flex;
  border-bottom: 0.8px solid rgba(214, 214, 214, 0.205);
  padding: 0 1.5rem 0.6rem 1.5rem;
  margin-top: 3rem; }

.results__num {
  flex-basis: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .results__num {
      flex-basis: 8rem; } }
  @media only screen and (max-width: 31.25em) {
    .results__num {
      flex-basis: 15rem; } }

.results__title {
  flex: 2; }

.results__artist, .results__album {
  flex: 1; }

@media only screen and (max-width: 31.25em) {
  .results__artist {
    display: none; } }

@media only screen and (max-width: 37.5em) {
  .results__album {
    display: none; } }

.results__plays {
  flex-basis: 15rem;
  display: flex;
  justify-content: flex-end; }
  @media only screen and (max-width: 81.25em) {
    .results__plays {
      display: none; } }

.not_found {
  display: flex;
  justify-content: center;
  align-items: center; }

.library__backdrop {
  width: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 37.5em) {
    .library__backdrop {
      display: none; } }

.library__message {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.library__details {
  display: flex;
  align-items: center; }
  .library__details > *:not(:last-child)::after {
    content: '\22C5';
    margin-left: 0.6rem;
    margin-right: 0.6rem; }

.library__titles {
  display: flex;
  border-bottom: 0.8px solid rgba(214, 214, 214, 0.205);
  padding: 0 1.5rem 0.6rem 1.5rem;
  margin-top: 3rem; }

.library__num {
  flex-basis: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .library__num {
      flex-basis: 8rem; } }
  @media only screen and (max-width: 31.25em) {
    .library__num {
      flex-basis: 15rem; } }

.library__title {
  flex: 2; }

.library__artist, .library__album {
  flex: 1; }

@media only screen and (max-width: 31.25em) {
  .library__artist {
    display: none; } }

@media only screen and (max-width: 37.5em) {
  .library__album {
    display: none; } }

.library__plays {
  flex-basis: 15rem;
  display: flex;
  justify-content: flex-end; }
  @media only screen and (max-width: 81.25em) {
    .library__plays {
      display: none; } }
